body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-container{
  width: 100%;
  max-width: 750px;
  margin: 20px auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.heading{
  text-align: center;
  font-size: 28px;
}

@media(max-width: 768px){
  .custom-container{
    max-width: 95%;
  }
}

.actions span{
  margin: 0 5px;
  cursor: pointer;
}

.funcoesdeeditaredeletar{
  /* background-color: rgb(252, 197, 57); */
  display: flex;
  flex: 2;  
  padding: 0;
  align-items: center;
  /* width: 10px; */
}

.trash{
  color: red;
}

.edit{
  color: #0491ff;
}

.button-div{
  display: flex;
  align-items: flex-end;
}

.delete-all{
  width: 100%;
  margin-top: 7px;
}

.submit-btn{
  width: 100%;
}

.message-box{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn{
  width: 100%;
  margin-top:7px;
}